@model IEnumerable<Product>
@{
    Layout = "_LayoutIndex";
}
<form asp-controller="Products">

    <a asp-action="Create" class="btn btn-success">Add Product</a>
    <table class="table table-light">
        <thead class="table table-dark">
            <tr>
                <th>Image</th>
                 <th>Name</th>
                  <th>Product Type</th>
                   <th>Size</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>Function</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td><img src="~/images/@item.Image" /></td>
                <td>@item.Name</td>
                <td>@item.ProductTypeId</td>
                <td>@item.Size</td>
                <td>@item.Price.ToString("#,##0")</td>
                <td>@item.Stock</td>
                <td>@item.Status</td>
            
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">&times;</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                </td>
        
            </tr>
            }
        </tbody>
    </table>
</form>