@model Account
<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="~/logincss/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @using (Html.BeginForm("Login","Accounts"))
    {
	<img class="wave" src="~/loginimg/wave.png">
	<div class="container">
		<div class="img">
			<img src="~/loginimg/bg.svg">
		</div>
		
                @Html.AntiForgeryToken()
                <table>
                    
                     <tr>
                        <td>@Html.LabelFor(a=>a.Username)</td>
                        <td>@Html.TextBoxFor(a=>a.Username)</td>
                    </tr>
                    <tr>
                        <td >@Html.ValidationMessageFor(a=>a.Username)</td>
                    </tr>
                    
                   
                  
                     <tr>
                        <td>@Html.LabelFor(a=>a.Password)</td>
                        <td>@Html.PasswordFor(a=>a.Password)</td>
                    </tr>
                    <tr>
                        <td >@Html.ValidationMessageFor(a=>a.Password)</td>
                    </tr>      
                </table>
        @RenderBody()
    </div>
    }
    <script type="text/javascript" src="~/loginjs/main.js"></script>
</body>
</html>
